HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore unwanted files across all directories under section2
/section2/*/.gitignore
/section2/*/.gitattributes
/section2/*/pom.xml~
/section2/*/accounts.iml~
/section2/*/cards.iml~
/section2/*/loans.iml


/section2/accounts/pom.xml~
/section2/cards/cards.iml~
/section2/loans/pom.xml~
*~

